<div style="display: flex;">
    <div style="width: 50%;">
        <h1>Carrito</h1>
        <div id="buttons">

        </div>
        <div>
            <ol id="products">

            </ol>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/carts.js"></script>